.my{
	width: 100%;
	height:100%;
	.sec{
		width:100%;
		&.ul{
			
			li{
				img{
					display: block;
					width:.8rem;
					height:.8rem;
				}

				.sec_con{
					

					> div{
						
						img{
							display: block;
							width: .3rem !important;
							height: .3rem;
						}
					}
				}
			}
		}

	}
	
}