
<ion-pane class="ass-body">
	<ion-header-bar class="head-h">
		<div class="h-all">
			<button class="button button-icon ion-ios-arrow-back"></button>
			<div class="h-search">
				<button class="button button-icon ion-android-search "></button>
				<input type="text" placeholder="搜索全面试试" class="search" />
			</div>
		</div>
	</ion-header-bar>
	<ion-pane class="content">
		<div class="left">
			<ul ng-controller="assTabCtrl">
				
				<li ng-click="switchTab($this)" class="active" href="#/assortment/kids"><span>Kids<br>婴童</span></li>
				<li ng-click="switchTab($this)" href="#/assortment/women"><span>Women<br>女士</span></li>
				<li ng-click="switchTab($this)" href="#/assortment/home"><span>Home</span><br>家居</li>
				<li ng-click="switchTab($this)" href="#/assortment/men"><span>Men<br>男士</span></li>
			</ul>
			
		</div>
		<div class="right" 
		style="width: 75%;display: inline-block;height: 700px;position: absolute;right: 0;top:6px;">
			<ion-content id="c-right" >
				<ul ng-controller="kidCtrl">
					<li ng-repeat="item in items">
						<img ng-src={{item.src}} alt="" />
						<p>{{item.title}}</p>
					</li>
				</ul>
				<div class="ass-nav">
					<img src="../img/ass-nav.png" alt="" />
				</div>
				<div class="ass-hot">
					<p>热卖品</p>
					<ul ng-controller="hotCtrl">
						<li ng-repeat="hot in hots"> 
							<img ng-src={{hot.src}} alt="">
							<p>{{hot.price}}</p>
							<p>{{hot.title}}</p>
						</li>
					</ul>
				</div>
			</ion-content>
		</div>
			
	</ion-pane>
</ion-pane>