<div class="home-content" >
  <div class="banktop"ng-click="scrollTop()">返回顶部</div>
  <ion-header-bar class="home-header">
    <span class="  icon iconfont icon-fenlei " ng-click="gotoTab(1)" >
      <!-- <a nav-transition="none" href="#/seach">seach</a> -->
    </span>
    <label for="" class=" header-title">
      <i class=" iconfont icon-sousuo"></i>
      <input type="text" class="sousuo" placeholder="搜索商品"/>
    </label>
    <span class=" icon iconfont icon-xinxi " ></span>
  </ion-header-bar>
<ion-content class="has-header " scrollbar-y="false">
  <ion-slide-box  class=" banner "
                  on-slide-changed="slideHasChanged($index)"
                  auto-play="true"
                  does-continue="true"
                  show-pager="true"
                  active-slide="model.activeIndex"
                  delegate-handle="delegateHandler">
    <ion-slide>
      <div class="box ">
        <img src="http://placehold.it/320x160">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box ">
        <img src="http://placehold.it/320x160">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box ">
        <img src="http://placehold.it/320x160">
      </div>
    </ion-slide>
  </ion-slide-box>

  <div class="home-nav ">
    <div class="row">
      <div class="col">
        <i class="icon iconfont icon-iconfontindexcuxiao"></i>
        <p>促销活动</p>
      </div>
      <div class="col">
        <i class="icon iconfont icon-shiliangzhinengduixiang4"></i>
        <p>物流查询</p>
      </div>
      <div class="col">
        <i class="icon iconfont icon-huiyuan"></i>
        <p>会员中心</p>
      </div>
      <div class="col">
        <i class="icon iconfont icon-jifen"></i>
        <p>领取积分</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon iconfont icon-s05"></i>
        <p>Kids/ 婴童</p>
      </div>
      <div class="col">
        <i class="icon iconfont icon-nv"></i>
        <p>Women/女士</p>
      </div>
      <div class="col">
        <i class="icon iconfont icon-home"></i>
        <p>Home/ 家居</p>
      </div>
      <div class="col ">
        <i class="icon iconfont icon-nan"></i>
        <p>Men/ 男士</p>
      </div>
    </div>
  </div>
  <div class="activity">
    <div class="list activity-header">
      <a class="item item-icon-right" href="#">
      <i class="icon ion-ios-arrow-right"></i>
      <img src="./img/1.png" alt="">
      活动倒计时：  <b>10</b>:<b>10</b>:<b>10</b>
    </a>
    </div>
    <div class="row">
      <ion-list class="col col-50" ng-repeat="item in items">
        <ion-item  class="item-thumbnail-center ">
            <a href="#">
            <img src="http://placehold.it/170x200">
            <h2>{{item.title}}</h2>
            <p class="p-red">{{item.description}}</p>
              <p class="Price">秒杀价 <i>￥</i><b>{{item.newprice}}</b><i>.3 </i> <em> {{item.oldprice}}</em></p>
            </a>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="hot">
    <h2 class="hot-header padding-left">  /HOT推荐/</h2>
      <div class="row" ng-repeat="item in hotitems">
        <ion-list class="col col-50" >
          <ion-item  class="item-thumbnail-center ">
              <a href="#">
              <img src="http://placehold.it/140x140">
              <h2>{{item[0].title}}</h2>
                <p class="p-red"> ￥<b>{{item[0].newprice}}</b><i>.3 </i> </p>
              </a>
          </ion-item>
        </ion-list>
        <ion-list class="col col-50" >
          <ion-item  class="item-thumbnail-center ">
              <a href="#">
              <img src="http://placehold.it/140x140">
              <h2>{{item[1].title}}</h2>
                <p class="p-red"> ￥<b>{{item[1].newprice}}</b><i>.3 </i> </p>
              </a>
          </ion-item>
        </ion-list>
      </div>
  </div>
  <div class="new">
      <h2 class="hot-header padding-left">  /NEW 新品/</h2>
      <div class="new-one padding">
        <img src="http://placehold.it/320x200" alt="">
      </div>
      <div class="row" ng-repeat="item in hotitems">
        <ion-list class="col col-50" >
          <ion-item  class="item-thumbnail-center ">
              <a href="#">
              <img src="http://placehold.it/140x140">
              <h2>{{item[0].title}}</h2>
                <p class="p-red"> ￥<b>{{item[0].newprice}}</b><i>.3 </i> </p>
              </a>
          </ion-item>
        </ion-list>
        <ion-list class="col col-50" >
          <ion-item  class="item-thumbnail-center ">
              <a href="#">
              <img src="http://placehold.it/140x140">
              <h2>{{item[1].title}}</h2>
                <p class="p-red"> ￥<b>{{item[1].newprice}}</b><i>.3 </i> </p>
              </a>
          </ion-item>
        </ion-list>
      </div>
  </div>
  <div class="kids">
      <h2 class="hot-header padding-left">  /Kids 婴童/</h2>
      <div class="new-one padding">
        <img src="http://placehold.it/320x200" alt="">
      </div>
      <div class="row" ng-repeat="item in hotitems">
        <ion-list class="col col-50" >
          <ion-item  class="item-thumbnail-center ">
              <a href="#">
              <img src="http://placehold.it/140x140">
              <h2>{{item[0].title}}</h2>
                <p class="p-red"> ￥<b>{{item[0].newprice}}</b><i>.3 </i> </p>
              </a>
          </ion-item>
        </ion-list>
        <ion-list class="col col-50" >
          <ion-item  class="item-thumbnail-center ">
              <a href="#">
              <img src="http://placehold.it/140x140">
              <h2>{{item[1].title}}</h2>
                <p class="p-red"> ￥<b>{{item[1].newprice}}</b><i>.3 </i> </p>
              </a>
          </ion-item>
        </ion-list>
      </div>
  </div>
 </ion-content>

</div>
